.button{
    -fx-font-family: sans-serif;
    -fx-font-size: 35;
}

.operation-button {
    -fx-font-size: 24;
    -fx-font-weight: 700;
    -fx-font-family: sans-serif;
}

.numeral{
    -fx-font-size: 40;
    -fx-font-weight: 600;
    -fx-font-family: sans-serif;
}

.anchorPane{
    -fx-background-color: #232323;
}

#screen{
    -fx-background-color: #505050;
    -fx-border-color: #151515;
    -fx-border-width: 7;
    -fx-font-size: 24;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#answer{
    -fx-background-color: #505050;
    -fx-border-color: #151515;
    -fx-border-width: 7;
    -fx-text-fill: black;
    -fx-font-weight: bold;

}

.viewLabel{
    -fx-text-fill: #DAA520;
    -fx-opacity: .75;
}

#operator{
    -fx-font-size: 40;
    -fx-font-weight: 600;
    -fx-text-fill: red;
    -fx-opacity: .50;
}

#system{
    -fx-font-size: 40;
    -fx-font-weight: 600;
    -fx-text-fill: red;
    -fx-opacity: .50;
    -fx-text-align: center;
}